<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Libro</title>

    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/catalogo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar">
        <div class="container menu-container">

            <a href="../index.html" class="logo">
                <div class="logo-circle">
                    <img src="../img/logo.png" alt="Logo SIGAB">
                </div>
                <span>SIGAB Libros</span>
            </a>

        </div>
    </nav>

    <main class="container">

        <div class="card">

            <h1>Detalle del Libro</h1>

            <div class="detalle-libro">

                <div class="detalle-portada">

                    <img src="../img/catalogo/2.jpg" alt="Portada del libro">

                </div>

                <div class="detalle-informacion">

                    <h2>El Principito</h2>

                    <p>
                        <strong>Autor:</strong>
                        Antoine de Saint-Exupéry
                    </p>

                    <p>
                        <strong>Género:</strong>
                        Novela
                    </p>

                    <p>
                        <strong>ISBN:</strong>
                        978-84-376-0494-7
                    </p>

                    <p>
                        <strong>Año de publicación:</strong>
                        1943
                    </p>

                    <p>
                        <strong>Estado:</strong>

                        <span class="badge badge-disponible">
                            Disponible
                        </span>
                    </p>

                </div>

            </div>

            <div class="card descripcion-libro">

                <h3>Descripción</h3>

                <p>
                    El Principito es una obra literaria que narra la historia de un pequeño príncipe que viaja por distintos planetas explorando temas como la amistad, el amor, la responsabilidad y el sentido de la vida.
                </p>

            </div>

            <div class="acciones-detalle">

                <a href="catalogo.html" class="btn btn-secondary">
                    Volver al Catálogo
                </a>

                <button class="btn btn-primary">
                    Reservar Libro
                </button>

            </div>

        </div>

    </main>

    <footer class="footer">
        <p>
            SIGAB Libros © 2026
        </p>
    </footer>

</body>

</html>