<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>

    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <script type="module" src="Controllers/appController.js"></script>
</head>


<body>

    <!-- MENÚ PRINCIPAL -->
    <nav class="navbar">
        <div class="container menu-container">

            <a href="index.html" class="logo">
                <div class="logo-circle">
                    <img src="../img/logo.png" alt="Logo SIGAB">
                </div>
                <span>SIGAB Libros</span>
            </a>

            <ul class="menu">

                <li>
                    <a href="index.html">Inicio</a>
                </li>

                <li class="dropdown">
                    <a href="#">Mantenimiento</a>

                    <ul class="submenu">
                        <li><a href="views/autores.html">Autores</a></li>
                        <li><a href="views/genero.html">Géneros</a></li>
                        <li><a href="views/portada.html">Portadas</a></li>
                        <li><a href="views/usuario.html">Usuarios</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#">Circulación</a>

                    <ul class="submenu">
                        <li><a href="views/prestamo.html">Préstamos</a></li>
                        <li><a href="views/devoluciones.html">Devoluciones</a></li>
                        <li><a href="views/reservas.html">Reservas</a></li>
                        <li><a href="views/multas.html">Multas</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#">Consultas</a>

                    <ul class="submenu">
                        <li><a href="views/catalogo.html">Catálogo</a></li>
                        <li><a href="views/busqueda.html">Búsqueda</a></li>
                        <li><a href="views/historial.html">Historial</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#">Administración</a>

                    <ul class="submenu">
                        <li><a href="views/notificaciones.html">Notificaciones</a></li>
                        <li><a href="views/reportes.html">Reportes</a></li>
                        <li><a href="views/panelAdministrador.html">Panel</a></li>
                        <li><a href="views/autenticacion.html">Acceso</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>

   
    <!-- PIE DE PÁGINA -->
    <footer class="footer">
        <p>
            SIGAB Libros © 2026
        </p>
    </footer>

    

</body>

</html>