<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Detalle del Autor - SIGAB Libros</title>

    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="stylesheet" href="../css/autor.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="container menu-container">
        <a href="../index.html" class="logo">
          <div class="logo-circle">
            <img src="../img/logo.png" alt="Logo SIGAB" />
          </div>
          <span>SIGAB Libros</span>
        </a>
      </div>
    </nav>
    <!-- CONTENIDO -->

    <main class="container">
      <div class="card detalle-autor">
        <h1>Detalle del Autor</h1>

        <div class="detalle-contenido">
          <div class="detalle-foto">
            <img
              src="../img/autores/gabriel.jpg"
              alt="Gabriel García Márquez"
            />
          </div>

          <div class="detalle-info">
            <h2>Gabriel García Márquez</h2>

            <p>
              <strong>Nacionalidad:</strong>
              Colombiana
            </p>

            <p>
              <strong>Fecha de Nacimiento:</strong>
              06/03/1927
            </p>

            <p>
              <strong>Estado:</strong>

              <span class="badge badge-disponible"> Activo </span>
            </p>
          </div>
        </div>

        <!-- BIOGRAFÍA -->

        <div class="card biografia-card">
          <h3>Biografía</h3>

          <p>
            Gabriel García Márquez fue un escritor, periodista y guionista
            colombiano, ganador del Premio Nobel de Literatura en 1982 y
            considerado uno de los máximos exponentes del realismo mágico.
          </p>
        </div>

        <br />

        <!-- BOTONES -->

        <div class="acciones-form">
          <a href="autores.html" class="btn btn-secondary"> Regresar </a>
        </div>
      </div>
    </main>

    <!-- FOOTER -->

    <footer class="footer">
      <p>SIGAB Libros © 2026</p>
    </footer>
  </body>
</html>
